@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper-container {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

figure {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 125px;
}

img {
    width: 85px;
}

h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    font-family: monospace;
}

p {
    color: #ccc;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Caveat', cursive;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

button {
    width: 180px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 16px;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #000;
    border: 2px solid #fff;
    color: #fff;
}