@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-image: url(./img/background-body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
}

.wrapper-container {
    background-color: #000;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

figure.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 125px;
}

.logo img {
    width: 85px;
}

h1 {
    color: transparent;
    background: linear-gradient(#6ee37c, #6b8323);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 65px;
    text-align: center;
    padding-top: 30px;
}

h2 {
    color: #ccc;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Caveat', cursive;
}

p#clue {
    font-size: 16px;
    text-align: center;
    color: #6b8323;
    background: #0f0f0f;
    max-width: 610px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px;
    border: 4px solid;
    border-image-source: linear-gradient(to right, #6ee37c, #6b8323);
    border-image-slice: 1;
    animation: border 5s linear infinite;
}

@keyframes border {
    0 % {
        border-image-source: linear-gradient(to right, #6ee37c, #6b8323);
    }
    100% {
        border-image-source: linear-gradient(to right, #6b8323, #6ee37c);
    }
}

.icon-sandglass {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px
}

.icon {
    width: 60px;
    cursor: pointer;
}

.icon.icon-rotate {
    transform: rotateX(180deg);
    transition: all ease .3s;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 180px;
    background: #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .3s;
}

button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #fff;
}